.DS_Store
.ipynb_checkpoints/
__pycache__/
*/__pycache__/
febo/
code/.idea/
./code/.idea/*
code/.pytest_cache/
code/tripathy/.pytest_cache/
code/tripathy/tests/.pytest_cache/
*.txt
*.png
code/runs/trip/data/
*.hdf5
